/* CSS File: /css/styles.css */

/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;  
  font-family: 'Montserrat', sans-serif;
}

/* Wrapper for the whole page layout */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(104, 126, 130, 1);
  padding: 20px;
  color: white;
}

header .logo img {
  height: 120px;
  width: auto; 
}


header .nav input {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

header .nav button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
}

/* Hero Section */
.hero {
  text-align: center;
  background-image: url('/icons/DALL·E\ 2024-09-13\ 15.01.34\ -\ A\ professional\ image\ of\ a\ man\ in\ a\ suit\ bidding\ at\ an\ auction\,\ holding\ up\ a\ bid\ paddle.\ The\ man\ is\ standing\ confidently\ with\ a\ calm\ expression\,\ surrou.webp'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 100px 20px;
  color:#FF6B6B; 
  flex-grow: 1;
}

.hero h1 {
  font-size: 48px;
  color: #FF6B6B;
}

.hero button {
  padding: 10px 30px;
  background-color: #FF6B6B;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

/* Footer */
footer {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: auto;  
}

/* Auction Items */
.auction-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.auction-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auction-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.auction-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
}

.auction-item p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.auction-item button {
  padding: 10px 20px;
  background-color: #FF6B6B;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.auction-item button:hover {
  background-color: #FF4B4B;
}


/* Carousel Styles */
.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%; 
  box-sizing: border-box;
}

.carousel img {
  width: 100%;
  height: auto;
}

/* Buttons for carousel control */
.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.carousel-controls button {
  padding: 10px;
  background-color: #FF6B6B;
  border: none;
  color: white;
  cursor: pointer;
}
